.inputForm {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.inputForm input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.inputForm input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

.inputForm button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4dd3a8; /* Xanh lá */
  color: #010101; /* Đen */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.inputForm button:hover {
  background-color: #55e08d; /* Xanh lá nhạt hơn */
}

.todoContainer {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f8f9fa; /* Xám nhạt */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todos {
  margin-top: 20px;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff; /* Trắng */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.items:hover {
  transform: scale(1.02);
}

.editBtn span {
  font-size: 16px;
  color: #333; /* Đen nhạt */
}

.editBtn button {
  margin-left: 10px;
  border: none;
  background: none;
  cursor: pointer;
  color: #45c093; /* Xanh lá */
  font-size: 18px;
}

.editBtn button:hover {
  color: #010101; /* Đen */
}

.editText input[type="text"] {
  width: calc(100% - 70px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
}

.editText button {
  margin-left: 5px;
  border: none;
  background: none;
  cursor: pointer;
  color: #71e78d; /* Xanh lá */
  font-size: 18px;
}

.editText button:hover {
  color: #218838; /* Xanh lá đậm */
}

.cancelBtn {
  color: #6c757d; /* Xám đậm */
}

.cancelBtn:hover {
  color: #495057; /* Xám đậm hơn */
}

.todos button {
  border: none;
  background: none;
  cursor: pointer;
  color: #6c757d; /* Xám đậm */
  font-size: 18px;
  transition: color 0.3s ease;
}

.todos button:hover {
  color: #495057; /* Xám đậm hơn */
}
