/* General Styles */
h1 {
  text-align: center;
  color: #050505;
}

/* App Container */
.App {
  font-family: "Arial", sans-serif;
}

/* Header */
.header {
  background-color: #ffffff; /* Đổi màu nền của header cho phù hợp */
  color: #333; /* Đổi màu chữ cho header */
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}

/* Logo Side */
.logoside h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333; /* Dark gray for the header text */
}

/* Main Content */
.main-content {
  max-width: 480px;
  margin: 0 auto;
  padding-top: 3rem; /* Added padding-top for spacing */
}

/* Tabs */
.TabsList {
  display: flex;
  margin-bottom: 1rem; /* Giảm khoảng cách dưới Tabs */
}

.TabsTrigger {
  cursor: pointer;
  border-radius: 9999px; /* Fully rounded corners */
  border: 1px solid #d1d5db; /* Border color */
  padding: 0.75rem 1.5rem; /* Padding cho các Tabs */
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1rem; /* Font size của các Tabs */
}

.TabsTrigger.active {
  background-color: #74eac3; /* Màu nền cho tab đang hoạt động */
  color: #ffffff; /* Màu chữ cho tab đang hoạt động */
}

.TabsTrigger.inactive {
  background-color: #ffffff; /* Màu nền cho tab không hoạt động */
  color: #1f2937; /* Màu chữ cho tab không hoạt động */
}

/* Tabs Content */
.TabsContent {
  margin-top: 1rem; /* Khoảng cách trên của nội dung tab */
}

/* Common Utilities */
.rounded-lg {
  border-radius: 0.5rem; /* Adjust the border-radius */
}

.bg-white {
  background-color: #fff;
}

.p-8 {
  padding: 2rem;
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
}

.space-x-2 > * + * {
  margin-left: 0.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.cursor-pointer {
  cursor: pointer;
}

.rounded-full {
  border-radius: 9999px; /* Fully rounded corners */
}

.border {
  border-width: 1px;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.font-semibold {
  font-weight: 600;
}

.transition-colors {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.duration-300 {
  transition-duration: 300ms;
}

.bg-blue-600 {
  background-color: #74eac3; /* Blue background for active state */
}

.text-white {
  color: #fff;
}

.text-gray-800 {
  color: #1f2937; /* Dark gray text */
}

.border-gray-300 {
  border-color: #d1d5db; /* Light gray border */
}

.hover\:bg-gray-100:hover {
  background-color: #f3f4f6; /* Light gray background on hover */
}

.mt-4 {
  margin-top: 1rem;
}
